# Archivos y carpetas de entorno
.env
node_modules/
vendor/

# Archivos del sistema
.DS_Store
Thumbs.db

# Archivos de caché y logs
*.log
*.cache

# Archivos de compilación y dependencias
/dist/
/build/
.idea/  # Carpetas de configuración de IDEs como PhpStorm, WebStorm, etc.
.vscode/
